<header>
  <div id="new-customer-header">
    <img src="/assets/logo.png" alt="">
    <h2>Sign In</h2>
    <p>New to Air Tailor? <a href="/customers/new">Create Account.</a></p>
  </div>
</header><!-- /header -->

<div id="new-customer-form">
  <%= form_tag '/login' do %>
    <%= text_field_tag :email, nil, placeholder: 'Email', :class => "login_form_field" %>

    <%= password_field_tag :password, nil, placeholder: 'Password', :class => "login_form_field" %>
    <%= submit_tag "Log In", :class => "button", :id => "login-button" %>
  <% end %>
</div>

<script>
    window.intercomSettings = {
      app_id: "j5szofcq"
    };
  </script>
  <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/j5szofcq';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
  </script>
