<header>
  <div id="new-customer-header">
    <img src="/assets/logo.png" alt="">
  </div>
</header><!-- /header -->

<main id="construction">
  <center><h3>Hey there!</h3></center>
  <center><h3>We're currently updating our service and operation, and we have to temporarily stop taking orders while we're doing so. We should be back up and running in a few weeks.</h3>
  <center><h3>If you have an order currently in our system, don't worry, we're on it. That said, feel free to reach us at hello@airtailor.com if you have any questions.</h3></center>
  <center><h3>Hope to see you back soon!</h3></center>
  <br><br>

  <img id="construction-image" src="/assets/website_under_construction.png" alt="">
</main>
