  <script>
    $( document ).ready(function() {

      if(location.pathname == '/new_order'){

        items = localStorage.getItem("items");
        items = JSON.parse(items)
        console.log(items)
        totalPrice = 0
        localStorage.setItem("request", JSON.stringify(false));

        if(items == null){
          items = [];
        }
        else if(items.length > 0){
          $("#basket").toggleClass('hidden');
          $.each(items, function(i, item){
            $("#basket-items").append("<div id=" + item.id + " class='basket-item'><p class='basket-garment'><span class='float-left'>" + item.garment + "</span><span class='float-right'><span id='basket-delete' class='clickable'>delete</span></span></p></div>")

            $.each(item.alterations, function(i, alteration){
              $(".basket-item:last").append("<p class='basket-alteration clear-float'><span class='float-left'>" + alteration.name + "</span><span class='float-right'>$" + alteration.price + "</span></p>")
              var integerPrice = parseFloat(alteration.price)
              totalPrice = totalPrice + integerPrice
            });
          });
          $("#total-price").html(totalPrice.toFixed(2))
          $("#review-total-price").html("$" + (totalPrice + 6).toFixed(2))
          $("#form-amount").val(totalPrice + 6)
          $("#top-nav-basket-total").html(items.length)
        }

      }
    });
  </script>


  <header>
      <div id="header-container">
        <img src="/assets/logo.png" alt="">
        <div id="header1">
          <h2>Welcome, <%= @customer.first_name %>!</h2>
          <h2>What type of garment would you like to have altered?</h2>
        </div>
        <div id="header2" class="hidden">

        <h2>What alteration service(s) would you like?</h2>
        <center id="alteration-back-button" class="clickable">&lt; Go Back</center>

        </div>
        <h2 id="header4" class="hidden">Thank you for your order!</h2>
      </div>
  </header><!-- /header -->

  <main>


    <!-- garment cards -->
    <div id="garment-select" class="">
      <div class="garment-card" id="pants" data-id="6">
        <h3 class="garment-title">pants</h3>
        <img class="garment-image" src="/assets/pants.png" alt="pants">
      </div>

      <div class="garment-card" id="shirt" data-id="7">
        <h3 class="garment-title">shirt</h3>
        <img class="garment-image" src="/assets/shirt.png" alt="shirt">
      </div>

      <div class="garment-card" id="skirt" data-id="13">
        <h3 class="garment-title">skirt</h3>
        <img class="garment-image" src="/assets/skirt.png" alt="skirt">

      </div>

      <div class="garment-card" id="dress" data-id="10">
        <h3 class="garment-title">dress</h3>
        <img class="garment-image" src="/assets/dress.png" alt="dress">
      </div>

      <div class="garment-card" id="suit" data-id="12">
        <h3 class="garment-title">suit jacket</h3>
        <img class="garment-image" src="/assets/jacket.png" alt="suit">
      </div>

      <div class="garment-card" id="necktie" data-id="14">
        <h3 class="garment-title">necktie</h3>
        <img class="garment-image" src="/assets/necktie.png" alt="necktie">
      </div>
    </div>
    <!-- end of garment cards -->



    <!-- alteration cards -->
    <div id="alteration-select" class="hidden">



      <div id="prep-popup" class="hidden">
        <span id="prep-exit" class="clickable">X</span>
        <div id="prep-header">
          <img id="prep-pin-logo" src="/assets/safety-pin" alt="safety pin">
          <h2>How to Prep</h2>
          <h3 id="prep-alt-name"></h3>
          <p id="prep-instructions"></p>
          <img id="prep-gif" src="">
          <img id="prep-jpg" src="">
        </div>
      </div>




      <div id="alteration-cards-section">
        <!-- pants -->
        <div class="alteration-card pants-alteration hidden">
          <div class="alteration-name-price" data-id="16" data-alt-type="pantsHem">
            <p>Shorten Pant Length - Regular Hem</p>
            $<span class="alteration-price">15.50</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card pants-alteration hidden">
          <div class="alteration-name-price" data-id="36" data-alt-type="pantsHem">
            <p>Shorten Pant Length - Original Hem</p>
            $<span class="alteration-price">24.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">How to Prep</p>
          </div>
        </div>

        <div class="alteration-card pants-alteration hidden">
          <div class="alteration-name-price" data-id="32" data-alt-type="pantsHem">
            <p>Shorten Pant Length - Cuffed Hem</p>
            $<span class="alteration-price">24.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card pants-alteration hidden">
          <div class="alteration-name-price" data-id="212" data-alt-type="pantsTaper">
            <p>Slim Pants Legs (Taper) - Full Leg</p>
            $<span class="alteration-price">60.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card pants-alteration hidden">
          <div class="alteration-name-price" data-id="213" data-alt-type="pantsTaper">
            <p>Slim Pants Legs (Taper) - Half Leg</p>
            $<span class="alteration-price">32.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card pants-alteration hidden">
          <div class="alteration-name-price" data-id="214" data-alt-type="pantsWaist">
            <p>Take In Trousers Seat / Waistband</p>
            $<span class="alteration-price">24.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card pants-alteration hidden">
          <div class="alteration-name-price" data-id="257" data-alt-type="pantsWaist">
            <p>Take In Jeans Seat / Waistband</p>
            $<span class="alteration-price">50.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card pants-alteration hidden">
          <div class="alteration-name-price" data-id="87" data-alt-type="pantsHem">
            <p>Pants Into Shorts</p>
            $<span class="alteration-price">15.50</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card pants-alteration hidden">
          <div class="alteration-name-price" data-id="41">
            <p>Repair Hole</p>
            $<span class="alteration-price">20.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>
        <!-- end pants -->


        <!-- shirts -->
        <div class="alteration-card shirt-alteration hidden">
          <div class="alteration-name-price" data-id="204" data-alt-type="shirtSleeveHem">
            <p>Shorten Shirt Sleeves — With Cuff</p>
            $<span class="alteration-price">25.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card shirt-alteration hidden">
          <div class="alteration-name-price" data-id="208" data-alt-type="shirtSleeveHem">
            <p>Shorten Shirt Sleeves — Without Cuff</p>
            $<span class="alteration-price">15.50</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card shirt-alteration hidden">
          <div class="alteration-name-price" data-id="210" data-alt-type="shirtShoulders">
            <p>Shorten Shirt Straps</p>
            $<span class="alteration-price">15.50</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card shirt-alteration hidden">
          <div class="alteration-name-price" data-id="219" data-alt-type="shirtHem">
            <p>Shorten Dress Shirt (Hem)</p>
            $<span class="alteration-price">24.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card shirt-alteration hidden">
          <div class="alteration-name-price" data-id="218" data-alt-type="shirtHem">
            <p>Shorten T-Shirt (Hem)</p>
            $<span class="alteration-price">15.50</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card shirt-alteration hidden">
          <div class="alteration-name-price" data-id="209" data-alt-type="shirtShoulders">
            <p>Take In Shirt Shoulders</p>
            $<span class="alteration-price">35.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card shirt-alteration hidden">
          <div class="alteration-name-price" data-id="205">
            <p>Slim Shirt Sleeves (Taper)</p>
            $<span class="alteration-price">24.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card shirt-alteration hidden">
          <div class="alteration-name-price" data-id="223">
            <p>Slim Shirt Sides</p>
            $<span class="alteration-price">25.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card shirt-alteration hidden">
          <div class="alteration-name-price" data-id="150" data-alt-type="shirtSleeveHem">
            <p>Long Sleeve Into Short Sleeve</p>
            $<span class="alteration-price">15.50</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card shirt-alteration hidden">
          <div class="alteration-name-price" data-id="41">
            <p>Repair Hole</p>
            $<span class="alteration-price">20.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>
        <!-- end shirts -->


        <!-- skirts -->
        <div class="alteration-card skirt-alteration hidden">
          <div class="alteration-name-price" data-id="217" data-alt-type="skirtHem">
            <p>Shorten Skirt (Hem) &mdash; Single Layer</p>
            $<span class="alteration-price">30.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card skirt-alteration hidden">
          <div class="alteration-name-price" data-id="220" data-alt-type="skirtHem">
            <p>Shorten Skirt (Hem) &mdash; 2 Layers</p>
            $<span class="alteration-price">55.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card skirt-alteration hidden">
          <div class="alteration-name-price" data-id="262" data-alt-type="skirtHem">
            <p>Shorten Skirt (Hem) &mdash; 3 Layers</p>
            $<span class="alteration-price">80.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card skirt-alteration hidden">
          <div class="alteration-name-price" data-id="259">
            <p>Take In Skirt Waist</p>
            $<span class="alteration-price">40.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card skirt-alteration hidden">
          <div class="alteration-name-price" data-id="41">
            <p>Repair Hole</p>
            $<span class="alteration-price">20.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>
        <!-- end skirts -->



        <!-- dresses -->
        <div class="alteration-card dress-alteration hidden">
          <div class="alteration-name-price" data-id="211" data-alt-type="dressHem">
            <p>Shorten Dress (Hem) &mdash; Single Layer</p>
            $<span class="alteration-price">30.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card dress-alteration hidden">
          <div class="alteration-name-price" data-id="224" data-alt-type="dressHem">
            <p>Shorten Dress (Hem) &mdash; 2 Layers</p>
            $<span class="alteration-price">55.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card dress-alteration hidden">
          <div class="alteration-name-price" data-id="263" data-alt-type="dressHem">
            <p>Shorten Dress (Hem) &mdash; 3 Layers</p>
            $<span class="alteration-price">80.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card dress-alteration hidden">
          <div class="alteration-name-price" data-id="216">
            <p>Shorten Dress Straps</p>
            $<span class="alteration-price">15.50</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card dress-alteration hidden">
          <div class="alteration-name-price" data-id="264" data-alt-type="dressSleeves">
            <p>Shorten Dress Sleeves &mdash; Without Cuff</p>
            $<span class="alteration-price">15.50</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card dress-alteration hidden">
          <div class="alteration-name-price" data-id="265" data-alt-type="dressSleeves">
            <p>Shorten Dress Sleeves &mdash; With Cuff</p>
            $<span class="alteration-price">25.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card dress-alteration hidden">
          <div class="alteration-name-price" data-id="222">
            <p>Take In Dress Waist</p>
            $<span class="alteration-price">45.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card dress-alteration hidden">
          <div class="alteration-name-price" data-id="266">
            <p>Slim Dress Sleeves (Taper)</p>
            $<span class="alteration-price">24.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card dress-alteration hidden">
          <div class="alteration-name-price" data-id="41">
            <p>Repair Hole</p>
            $<span class="alteration-price">20.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>
        <!-- end dresses -->



        <!-- suits -->
        <div class="alteration-card suit-jacket-alteration hidden">
          <div class="alteration-name-price" data-id="25">
            <p>Shorten Jacket Length</p>
            $<span class="alteration-price">70.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card suit-jacket-alteration hidden">
          <div class="alteration-name-price" data-id="267">
            <p>Shorten Jacket Sleeves</p>
            $<span class="alteration-price">40.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card suit-jacket-alteration hidden">
          <div class="alteration-name-price" data-id="268">
            <p>Take In Jacket Shoulders</p>
            $<span class="alteration-price">50.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card suit-jacket-alteration hidden">
          <div class="alteration-name-price" data-id="207">
            <p>Slim Jacket Sides</p>
            $<span class="alteration-price">50.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card suit-jacket-alteration hidden">
          <div class="alteration-name-price" data-id="261">
            <p>Slim Jacket Sleeves (Taper)</p>
            $<span class="alteration-price">50.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card suit-jacket-alteration hidden">
          <div class="alteration-name-price" data-id="41">
            <p>Repair Hole</p>
            $<span class="alteration-price">20.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>
        <!-- end suits -->

        <!-- neckties -->
        <div class="alteration-card necktie-alteration hidden">
          <div class="alteration-name-price" data-id="269">
            <p>Shorten Necktie</p>
            $<span class="alteration-price">25.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card necktie-alteration hidden">
          <div class="alteration-name-price" data-id="270" data-alt-type="slimTie">
            <p>Slim Necktie &mdash; 2 Inches</p>
            $<span class="alteration-price">25.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card necktie-alteration hidden">
          <div class="alteration-name-price" data-id="271" data-alt-type="slimTie">
            <p>Slim Necktie &mdash; 2.25 Inches</p>
            $<span class="alteration-price">25.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card necktie-alteration hidden">
          <div class="alteration-name-price" data-id="272" data-alt-type="slimTie">
            <p>Slim Necktie &mdash; 2.5 Inches</p>
            $<span class="alteration-price">25.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card necktie-alteration hidden">
          <div class="alteration-name-price" data-id="273" data-alt-type="slimTie">
            <p>Slim Necktie &mdash; 2.75 Inches</p>
            $<span class="alteration-price">25.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card necktie-alteration hidden">
          <div class="alteration-name-price" data-id="274" data-alt-type="slimTie">
            <p>Slim Necktie &mdash; 3 Inches</p>
            $<span class="alteration-price">25.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card necktie-alteration hidden">
          <div class="alteration-name-price" data-id="275" data-alt-type="slimTie">
            <p>Slim Necktie &mdash; 3.25 Inches</p>
            $<span class="alteration-price">25.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>

        <div class="alteration-card necktie-alteration hidden">
          <div class="alteration-name-price" data-id="276" data-alt-type="slimTie">
            <p>Slim Necktie &mdash; 3.5 Inches</p>
            $<span class="alteration-price">25.00</span>
          </div>
          <div class="prep-button">
            <p><img src="/assets/safety-pin.png" alt="">
            How to Prep</p>
          </div>
        </div>
      <!-- end neckties -->
      </div>
      <!-- end alteration CARDS section -->


      <!-- alteration details -->
      <div id="prep-and-quantity" class="hidden">
        <h2>How many <span class="quantity-name"></span>?</h2>
        <hr>
        <!-- quantity section -->
        <div id="quantity-section">
          <div id="quantity-input">
            <p>Quantity</p>
            <input type="text" value="1">
          </div>
          <div id="quantity-button">
            <span id="minus" class="clickable">-</span><span id="plus" class="clickable">+</span>
          </div>
        </div>
        <!-- end quantity section -->

        <!-- prep checkbox section -->
        <div id="prep-details-div">
          <h2>How would you like to prep?<span class="red">*</span></h2>
          <small>Choose one <span class="red">(required)</span></small>
          <hr>
            <div id="prep-options">
              <div id="prep-option-one" class="prep-option">
                <input id="prep-pins" type="checkbox" name="sample item checkbox" checked>
                <span class="prep-text">I will mark my desired fit with <b>safety pins</b> for the <span class="garment-name"></span> being altered. (see <i>"How to Prep"</i> above)</span>
              </div>
              <div id="prep-option-two" class="prep-option">
                <input id="prep-sample" type="checkbox" name="sample item checkbox">
                <span class="prep-text">I will send a <b>sample <span id="sample-name"></span></b>. Please use sample to get correct fit for the <span class="garment-name"></span> being altered.</span>
              </div>
            </div>
        </div>
        <!-- end prep checkbox section -->
      </div>
      <!-- end alteration details -->


      <!-- alteration buttons -->
      <div id="alteration-buttons">
        <button id="add-alt-to-basket" class="button">Add to Basket</button>

      </div>
      <!-- end alteration buttons -->
    </div>
    <!-- end of ALL alterations section -->
  </main>

    <!-- basket -->
  <div id="basket" class="hidden">
    <h2><img src="/assets/basket.png">Basket</h2>
    <hr>
    <div id="basket-items">

    </div>
    <hr>
    <p id="basket-total"><span class="float-left">Total</span><span class="float-right">$<span id="total-price"></span></span></p>
    <hr class="clear-float">
    <a id="checkout-button-link" href="/review"><button id="checkout-button" class="button">Checkout</button></a>
    <p id="empty-basket" class="clickable"><span>X</span> Empty Basket</p>
  </div>





