<header>
  <div id="thank-you-header">
    <img src="/assets/logo.png" alt="">
    <h2>Thanks for your order, <%= @customer.first_name %>!</h2>
    <h3>Your shipping label has been emailed to you at <%= @customer.email %></h3>
    <p>Need more alterations? <a href="/new_order">Place a new order!</a></p>
  </div>
</header><!-- /header -->


<script>

  $("#thank-you-header").ready(function() {
    var request = localStorage.getItem("request");
    console.log(request)

    if (request == "false"){

      console.log("placing order")
      var data = localStorage.getItem("data");
      data = JSON.parse(data)
      console.log(data)
      $.ajax({
        url: 'https://prod-airtailor-portal-api.herokuapp.com/api/v1/orders',
        method: 'POST',
        headers: {
          'X-Api-Key': "O7iq7W0Kcg8MynMp3aaHzgtt",
          'Content-Type': 'application/json',
        },
        dataType: 'json',
        data: JSON.stringify(data),
        success: function(res) {
          console.log('success', res);
          localStorage.setItem("request", JSON.stringify(true));
          items = [];
          localStorage.setItem("items", JSON.stringify(items));
        },
        error: function(res) {
          alert("Error with order placement. Email us at hello@airtailor.com or click the speech bubble below to connect with customer service immediately.")
          $("#thank-you-header h3").html("<span class='red'>Error with order placement. Email us at hello@airtailor.com or click the speech bubble below to connect with customer service immediately.</span>")
          console.log('error', res);
        },
      });



    }
  });

</script>

