<header>
  <div id="new-customer-header">
    <img src="/assets/logo.png" alt="">
    <h2>Thanks for your order, <%= @customer.first_name %>!</h2>
    <h3>Your shipping label has been emailed to you at <%= @customer.email %></h3>
    <p>Need more alterations? <a href="/new_order">Place a new order!</a></p>
  </div>
</header><!-- /header -->

<script>
$( document ).ready(function() {
    console.log("hello");
});
</script>

