<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <p>D2C Error for <%= @customer.first_name %> <%= @customer.last_name %> (#<%= @customer.id %>)</p>
  <p>Error Message:</p>
  <i><%= @res %></i>
  </body>
</html>
