<div style="background-color:lightgray;padding:50px;text-align: center;">
  <div style="text-align: center; background-color:white;padding:20px;">
    <%= image_tag(attachments['logo.png'].url, :style => "width: 250px") %>
    <p style="text-align:left;">Hi <%= @customer.first_name %>,</p>
    <p style="text-align:left;">You recently requested to reset your Air Tailor password.<p>
    <p style="text-align:left;">Please reset your password here:</p>

    <% if Rails.env.development? %>
      <a style="display:inline-block;line-height:50px;width:200px;height:50px;text-decoration:none;background-color:#000033;color:white;border-radius:5px;margin-top:20px;margin-bottom:20px;" href="http://localhost:3000/password_resets/<%= @customer.password_reset_token %>/edit">Reset Password</a>
    <% else %>
      <a style="display:inline-block;line-height:50px;width:200px;height:50px;text-decoration:none;background-color:#000033;color:white;border-radius:5px;margin-top:20px;margin-bottom:20px;" href="https://direct.airtailor.com/password_resets/<%= @customer.password_reset_token %>/edit">Reset Password</a>
    <% end %>

    <p style="text-align:left;">If you didn't make this request, or don't want to change your password, please ignore this email.</p>
  </div>
  <small style="display:inline-block;margin-top:20px;">&copy; 2018 Air Tailor Inc. All rights reserved.</small>
</div>



