/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* dark blue #000033 */
/* red #de0421 */
/* light blue rgba(216, 237, 252, 0.5); */


body {
  margin: 0;
  font-family: raleway;
  color: #000033;
  font-size: 14px;
  cursor:pointer;
}

.red {
  color: #de0421
}

.flash-notice {
  position: fixed;
  top: 10px;
  padding: 15px;
  font-weight: bold;
  z-index: 10;
  width: 100%;
}

#flash-success {
  background-color: green;
}

#flash-fail {
  background-color: red;
}

#container {
 width: 348px;
  margin: 0 auto;
  overflow: auto;
}

#overlay {
  position:fixed;
  display:none;

  /* color with alpha channel */
  background-color: rgba(0, 0, 0, 0.3); /* 0.7 = 70% opacity */

  /* stretch to screen edges */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#top-nav {
  width: 100%;
  position: relative;
  height: 30px;
  text-align: center;
  font-size: 14px;
}

#top-nav a {
  position: absolute;
  padding: 15px;
  font-weight: bold;
  top: 5px;
  text-decoration: none;
  color: #000033;
}

#how-it-works {
  right: 80px;
}

#logout-button {
  right: 5px;
}

#account-button {
  left: 67px;
}

a#top-nav-basket {
  display: inline-block;
  padding-top: 8px;
  left: 0px;
}

#top-nav-basket img {
  width: 30px;
}



/* HEADER SECTION */

header {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}

#header-container {
  width: 80%;
  max-width: 348px;
  margin: 0 auto;
}

header img {
  width: 90%;
  margin-top: 50px;
}

header h2 {
  font-family: alegreya;
  font-weight: 600;
  margin-bottom: 10px;
}

#new-customer-header, #edit-customer-header, #thank-you-header {
  width: 80%;
  max-width: 348px;
  margin: 0 auto;
}

#new-customer-header h3 {
  font-family: alegreya;
}

#new-customer-header p {
  font-size: 12px;
}

#new-customer-header a {
  color: #de0421;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #de0421;
}

#new-customer-back {
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 15px;
}


#header3 p {
  font-size: 11px;
}

#header3 span {
  color: #DE0421;
  border-bottom: 1px solid #DE0421;
}

/* END HEADER SECTION */

#new-customer-form, #edit-customer-form {
  margin-top: 40px;
  text-align: center;
}

#new-customer-form input, #edit-customer-form input, select {
  box-sizing: border-box;
  width: 90%;
  margin-bottom: 25px;
  background-color: lightgray;
  border-style: none;
  height: 40px;
  border-radius: 4px;
  padding-left: 10px;
}

#new-customer-next {
  height: 50px;
  width: 100%;
  color: white;
  background-color: #000033;
  border-radius: 7px;
  text-transform: uppercase;
  width: 90%;
  line-height: 50px;
  margin: 0 auto;
  font-size: 12px;
}

input#new-customer-create, input#login-button, input#edit-customer-button, input#reset-button {
  height: 50px;
  width: 100%;
  color: white;
  background-color: #000033;
  border-radius: 7px;
  text-transform: uppercase;
  width: 90%;
  font-size: 12px;
  -webkit-appearance: none;

}




/* All the old shit */

.selected {
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-float {
  clear: both;
}

.hidden {
  display: none;
}

button {
  height: 60px;
  background-color: #000033;
  color: white;
  width: 135px;
  font-size: 14px;
  border-radius: 8px;
  text-transform: uppercase;
}



/* GARMENT SELECTION PAGE */

#garment-select, #header-text, #alteration-select, #alteration-buttons, #order-details {
  width: 348px;
  margin: 0 auto;
  overflow: auto;
}

.garment-card {
  width: 100px;
  height: 100px;
  padding: 25px;
  border: 2px solid #000033;
  margin: 20px 10px;
  float: left;
  border-radius: 5px;
  text-align: center;
}

#alteration-cards-section {
  overflow: auto;
}

.alteration-card {
  float: left;
  overflow: auto;
  font-size: 12px;
  margin: 10px 10px;
}

.alteration-name-price {
  font-family: raleway;
  font-weight: normal;
  width: 100px;
  height: 100px;
  padding: 25px;
  border-radius: 5px;
  text-align: center;
  border: 2px solid #000033;
  }

.alteration-name-price p {
  font-weight: bold;
  margin-top: 0;
}

.prep-button {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  height: 50px;
  box-sizing: border-box;
}

.prep-button img {
  width: 25px;
  vertical-align: middle;
  padding-left: 20px;
  padding-right: 5px;
}

.prep-button p {
  line-height: 50px;
  margin: 0;
}

#prep-popup {
  width: 90%;
  /* max-width: 500px; */
  max-height: 100%;
  background-color: white;
  position: fixed;
  top: 100px;
  bottom: 100px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  overflow-y: scroll;
  z-index: 1;
}

#how-to-popup {
  width: 90%;
  max-height: 100%;
  background-color: white;
  position: fixed;
  top: 100px;
  bottom: 100px;
  left: 5%;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  z-index: 1;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  overflow-y: scroll;
}

#how-to-logo {
  width: 90px;
}

#how-to-popup h2, #how-to-popup h3 {
  text-transform: uppercase;
}

#how-to-popup h2 {
  font-size: 14px;
  font-weight: normal;
  margin-top: -10px;
  color: gray;
}

#how-to-popup h3 {
  font-family: alegreya;
  margin-top: 30px;
  margin-bottom: 5px;
  font-style: italic;
  font-size: 18px;
}

#how-to-popup h4 {
  font-family: alegreya;
  font-size: 18px;
  font-style: italic;
}

#how-to-popup p {
  margin: 0;
  font-size: 16px;
}


#prep-exit, #how-to-exit {
  font-size: 18px;
  top: 105px;
  right: 7%;
  position: fixed;
  font-weight: bold;
  padding: 10px 13px;
  box-sizing: border-box;
  background-color: white;
  z-index: 11;
  border-radius: 100%;
}

#prep-header {
  text-align: center;
  margin-top: 15px;
}

#prep-pin-logo {
  width: 25px;
}

#prep-header h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  margin-top: 5px;
}

#prep-alt-name {
  font-family: alegreya;
  width: 60%;
  margin: 0 auto;
}

#prep-instructions {
  width: 90%;
  margin: 10px auto;
}

#prep-jpg {
  width: 80%;
  margin-bottom: 10px;
}

#prep-gif {
  width: 90%;
  padding-top: 25px;
  padding-bottom: 25px;
}

#alteration-buttons {
  text-align: center;
  margin-bottom: 50px;
  min-width: 250px;
}

#alteration-back-button {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 12px;
  font-weight: 600;
  margin-top: 20px;
}

#add-alt-to-basket {
  width: 90%;
  background-color: rgba(0,0,53,.5);
}

.garment-title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 20px;
}

.garment-image {
  width: 50%;
}

#necktie img {
  width: 28px;
}


/*  */
/* END GARMENT SELECTION PAGE */


/* BASKET STYLES */
/*  */

#basket {
  clear: both;
  border: 2px solid #000033;
  border-radius: 5px;
  width: 328px;
  margin: 0 auto;
  margin-bottom: 100px;
}

#basket h2 {
  text-align: center;
  font-family: raleway;
  text-transform: uppercase;
  font-weight: 600;
}

#basket img {
  width: 40px;
  padding-right: 20px;
  vertical-align: -4px;
}

#basket hr {
  width: 80%;
}

#basket-items {
  margin: 20px;
  overflow: auto;
}

.basket-garment, .review-garment {
  clear: both;
  text-transform: uppercase;
  font-size: 12px;
  overflow: auto;
  margin-top: 20px;
}

.basket-alteration, .review-alteration {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  overflow: auto;
}

#basket-edit, #basket-delete, #review-edit, #review-delete {
  font-size: 8px;
}

#basket-edit, #review-edit {
  margin-right: 4px;
}

#basket-delete, #review-delete {
  color: #DE0421;
  margin-left: 4px;
}

#basket-total {
  margin: 20px;
  overflow: auto;
  text-transform: uppercase;
  font-size: 12px;
}

#checkout-button {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 25px;
  width: 290px;
}

/*  */
/* END BASKET STYLES


/* ORDER REVIEW PAGE */
#review-order {
  margin: 20px;
  width: 328px;
  margin: 0 auto;
  margin-bottom: 100px;
  overflow: auto;
}

#review-order hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.review-garment {
  font-weight: bold;
}

.review-alteration {
}

#review-total {
  overflow: auto;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

#review-notes {
  font-size: 12px;
  text-align: center;
  text-decoration: underline;
  color: #DE0421;
  height: 100px;
  line-height: 100px;
}

#review-notes img {
  vertical-align: -10px;
  width: 25px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#review-notes-textarea {
  box-sizing: border-box;
  width: 100%;
  resize: vertical;
  border-radius: 5px;
  min-height: 100px;
  padding: 8px;
  line-height: 14px;
  background-color: rgba(216, 237, 252, 0.5);
  margin-top: -20px;
}

#review-notes-textarea::placeholder {
  line-height: 14px;
}

#review-shipping {
  margin-top: 30px;
}

#review-contact {
  margin-top: 30px;
}

.review-edit-account {
  text-transform: uppercase;
  font-size: 10px;
  margin-left: 10px;
  text-decoration: underline;
}

#proceed-to-pay {
  display: block;
  margin-top: 30px;
  width: 100%;
}



#promo-code-note {
  font-style: italic;
  font-size: 12px;
  text-align: center;
  color: gray;
}
/* END ORDER REVIEW PAGE */



/* FOOTER */

footer {
  margin-top: 100px;
}

footer, footer a {
  text-align: center;
  font-size: 12px;
  color: gray;
}

/* PROMO CODE SECTION */
#promo-div {
  overflow: auto;
}

#promo-input {
  background-color: lightgray;
  border-style: none;
  border-radius: 5px;
  width: 62%;
  box-sizing: border-box;
  height: 40px;
  padding-left: 10px;
  float: left;
}

#promo-button {
height: 40px;
width: 32%;
float: right;
border-radius: 5px;
}
/* END PROMO CODE SECTION */

/* SAMPLE ITEM SECTION */
#prep-and-quantity {
  width: 328px;
}

#prep-details-div{
  clear: both;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 45px;
  width: 328px;
}

#prep-and-quantity h2 {
  text-align: center;
  font-family: alegreya;
  margin-bottom: 5px;
}

#prep-details-div small {
  display: block;
  text-align: center;
}

.prep-option {
  overflow: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

#prep-options input {
  width: 10%;
  float: left;
  display: inline-block;
  vertical-align: middle;
}

.prep-text {
  display: inline-block;
  vertical-align: middle;
  width: 85%;
  float: right;
}

/* END SAMPLE ITEM SECTION */

/* QUANTITY SECTION */
#quantity-section {
  width: 328px;
  margin: 0 auto;
  margin-bottom: 45px;
  overflow: auto;
}

#quantity-input {
  width: 100px;
  float: left;
}

#quantity-input p {
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 5px;
}

#quantity-input input {
  border: 1px solid lightgray;
  height: 30px;
  width: 60px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 3px;
}

#quantity-button {
  float: right;
  margin-top: 26px;
}

#quantity-button span {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  border-top: 1px solid #000033;
  border-bottom: 1px solid #000033;
  box-sizing: border-box;
  height: 30px;
  width: 50px;
  line-height: 27px;
}

#quantity-button span:active {
  background-color: #000033;
}

#minus {
  border-left: 1px solid #000033;
  border-right: 1px solid #000033;
  border-radius: 3px 0 0 3px;
}

#plus {
  border-right: 1px solid #000033;
  border-radius: 0 3px 3px  0;
}


/* END QUANTITY SECTION */






